# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rider
.idea

# Visual Studio
.vs
*.user
*.idb
*.tlog
*.pdb
*.res
*.ilk
*.log
*.recipe
*.FileListAbsolute.txt

*.exp
*.iobj
*.ipdb
